<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <title></title>
</head>
<body>
<div id="toolbar" class="tool_area NE=a:vtb" style="display: block;">
    <div class="paginate v2">
                        {% if episode[1]>0 %}
                        <a class="pg_prev NPI=a:prev,g:fr_en" title="Previous Episode" href="/viewer/{{ episode[0] }}"><em>Previous Episode</em></a>
                        {% endif %}
                        <span class="tx _btnOpenEpisodeList NPI=a:current,g:fr_en">#{{ episode[1] }}</span>
                        <a class="pg_next NPI=a:next,g:fr_en" title="Next Episode" href="/viewer/{{ episode[2] }}"><em>Next Episode</em></a>
    </div>
</div>
<div id="content" class="viewer">
    <div class="cont_box">
        <div class="viewer_lst">
            <div id="_imageList" class="viewer_img">
            {% for p in sorted_cccc %}
                <img width="800" class="_images" alt="image" src="{{ url_for('static', filename=p[1]) }}"/>
            {% endfor %}
            </div>
        </div>
    </div>
</div>
</body>
</html>